{% extends "base.html" %}

{% block title %}Editar Pagamento - SAV{% endblock %}

{% block content %}
    <h2>Editar Pagamento</h2>
    <div class="admin-nav">
        <a href="{{ url_for('contas_a_pagar_dashboard') }}">Voltar para Pagamentos</a>
    </div>

    <form action="{{ url_for('contas_a_pagar_pagamentos_edit', item_id=item.id) }}" method="POST">
        <label for="pagamento_data_inicio">Data Início (X):</label>
        <input type="date" id="pagamento_data_inicio" name="pagamento_data_inicio" value="{{ item.pagamento_data_inicio }}" required>
        
        <label for="pagamento_data_fim">Data Fim (Y):</label>
        <input type="date" id="pagamento_data_fim" name="pagamento_data_fim" value="{{ item.pagamento_data_fim }}" required>
        
        <label for="caixa">Caixa:</label>
        <input type="text" id="caixa" name="caixa" value="{{ item.caixa }}" required>
        
        <button type="submit">Salvar Alterações</button>
    </form>
{% endblock %}