{% extends "base.html" %}

{% block title %}Editar Documento Diverso - SAV{% endblock %}

{% block content %}
    <h2>Editar Documento Diverso</h2>
    <div class="admin-nav">
        <a href="{{ url_for('documentos_diversos_dashboard') }}">Voltar para Documentos Diversos</a>
    </div>

    <form action="{{ url_for('contas_a_pagar_diversos_edit', item_id=item.id) }}" method="POST">
        <label for="numero_caixa">Número da Caixa:</label>
        <input type="text" id="numero_caixa" name="numero_caixa" value="{{ item.numero_caixa }}" required>
        
        <button type="submit">Salvar Alterações</button>
    </form>
{% endblock %}