{% extends "base.html" %}

{% block title %}Login Administrativo{% endblock %}

{% block content %}
    <h2>Login Administrativo</h2>
    <form action="{{ url_for('admin_login') }}" method="POST">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit"><i class="fas fa-sign-in-alt"></i> Entrar</button>
    </form>
    <p style="text-align: center; margin-top: 20px;"><a href="{{ url_for('index') }}">Voltar para a Página Inicial</a></p>
{% endblock %}